test/JavaTwoWaySSL/EscortClient/AppServiceFaultTest/Service References/SecuredAppService/securedApplicationService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IdentityStream.Common.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IdentityStream.Common.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://sickles/ServicesHost/securedApplicationService2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OperationMakesApplicationInaccessibleFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultType" type="tns:OperationMakesApplicationInaccessibleFaultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationMakesApplicationInaccessibleFault" nillable="true" type="tns:OperationMakesApplicationInaccessibleFault" />
  <xs:simpleType name="OperationMakesApplicationInaccessibleFaultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CannotRemoveLoggedInIdentity">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CannotRemoveLastRemainingIdentity">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CurrentlyLoggedInIdentityWouldNotHaveAccess">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationMakesApplicationInaccessibleFaultType" nillable="true" type="tns:OperationMakesApplicationInaccessibleFaultType" />
  <xs:complexType name="ErrorDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ExceptionType" type="tns:ServiceExceptionType" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDetails" nillable="true" type="tns:ErrorDetails" />
  <xs:simpleType name="ServiceExceptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DatabaseOffline" />
      <xs:enumeration value="DatabaseProcessingError" />
      <xs:enumeration value="Application" />
      <xs:enumeration value="NotLoggedIn" />
      <xs:enumeration value="ServerNotLicensed" />
      <xs:enumeration value="ServerLacksBiometricsLicense" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceExceptionType" nillable="true" type="tns:ServiceExceptionType" />
</xs:schema>