samples/WickedSick/ClientComponents/Music/Service References/SDBService/SDBService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sdbservice.wsick.com/SDBService.svc?xsd=xsd2" namespace="http://sdbservice.wsick.com/Common" />
  <xs:complexType name="ArrayOfKeyValueOfintSongDatabnyvNr29">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintSongDatabnyvNr29">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://sdbservice.wsick.com/Common" name="Value" nillable="true" type="q1:SongData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintSongDatabnyvNr29" nillable="true" type="tns:ArrayOfKeyValueOfintSongDatabnyvNr29" />
  <xs:complexType name="ArrayOfKeyValueOfintDataClassbnyvNr29">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintDataClassbnyvNr29">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q2="http://sdbservice.wsick.com/Common" name="Value" nillable="true" type="q2:DataClass" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintDataClassbnyvNr29" nillable="true" type="tns:ArrayOfKeyValueOfintDataClassbnyvNr29" />
  <xs:complexType name="ArrayOfKeyValueOfintAlbumDatabnyvNr29">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintAlbumDatabnyvNr29">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q3="http://sdbservice.wsick.com/Common" name="Value" nillable="true" type="q3:AlbumData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintAlbumDatabnyvNr29" nillable="true" type="tns:ArrayOfKeyValueOfintAlbumDatabnyvNr29" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfKeyValueOfintArtistDatabnyvNr29">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArtistDatabnyvNr29">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q4="http://sdbservice.wsick.com/Common" name="Value" nillable="true" type="q4:ArtistData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArtistDatabnyvNr29" nillable="true" type="tns:ArrayOfKeyValueOfintArtistDatabnyvNr29" />
  <xs:complexType name="ArrayOfKeyValueOfintAuditDatabnyvNr29">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintAuditDatabnyvNr29">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q5="http://sdbservice.wsick.com/Common" name="Value" nillable="true" type="q5:AuditData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintAuditDatabnyvNr29" nillable="true" type="tns:ArrayOfKeyValueOfintAuditDatabnyvNr29" />
  <xs:complexType name="ArrayOfKeyValueOfintPlaylistDatabnyvNr29">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintPlaylistDatabnyvNr29">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q6="http://sdbservice.wsick.com/Common" name="Value" nillable="true" type="q6:PlaylistData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintPlaylistDatabnyvNr29" nillable="true" type="tns:ArrayOfKeyValueOfintPlaylistDatabnyvNr29" />
</xs:schema>