samples/DuplexExceptionHandlingProxySample/WpfClient/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfclientguidance.codeplex.com/2009/04/schemas" elementFormDefault="qualified" targetNamespace="http://wcfclientguidance.codeplex.com/2009/04/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:complexType name="ArrayOfTodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoItem" nillable="true" type="tns:TodoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoItem" nillable="true" type="tns:ArrayOfTodoItem" />
  <xs:complexType name="TodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element name="Title" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" name="Priority" type="q1:PriorityFlag" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" name="Status" type="q2:StatusFlag" />
      <xs:element name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element name="CompletionDate" nillable="true" type="xs:dateTime" />
      <xs:element name="PercentComplete" type="xs:double" />
      <xs:element name="Tags" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoItem" nillable="true" type="tns:TodoItem" />
</xs:schema>