WCF Login and Faults/SecuredWpfApplication/Service References/SecuredService/SecuredWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecuredWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecuredWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDetails" nillable="true" type="tns:ErrorDetails" />
  <xs:complexType name="ApplicationErrorDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorDetails">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicationErrorDetails" nillable="true" type="tns:ApplicationErrorDetails" />
  <xs:complexType name="DatabaseOfflineErrorDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorDetails">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatabaseOfflineErrorDetails" nillable="true" type="tns:DatabaseOfflineErrorDetails" />
  <xs:complexType name="DatabaseProcessingErrorDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorDetails">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatabaseProcessingErrorDetails" nillable="true" type="tns:DatabaseProcessingErrorDetails" />
</xs:schema>