test/Ansi378Test/Service References/BiometricService/biometricServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scottslaptop.hyperion.local/ServicesHost/biometricServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" />
  <xs:import schemaLocation="http://scottslaptop.hyperion.local/ServicesHost/biometricServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://scottslaptop.hyperion.local/ServicesHost/biometricServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://scottslaptop.hyperion.local/ServicesHost/biometricServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" />
  <xs:import schemaLocation="http://scottslaptop.hyperion.local/ServicesHost/biometricServices.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/IdentityStream.Logging" />
  <xs:import schemaLocation="http://scottslaptop.hyperion.local/ServicesHost/biometricServices.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="CheckTransactionAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q1:RequestData" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q2:guid" />
        <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTransactionAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckTransactionAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidApplications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q3:RequestData" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetValidApplicationsResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationUnitsForTransactionGroupIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q6:RequestData" />
        <xs:element minOccurs="0" name="transactionCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="identityId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationUnitsForTransactionGroupIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAuthenticationUnitsForTransactionGroupIdentityResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionSecurityDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q9:RequestData" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionSecurityDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetTransactionSecurityDetailsResult" nillable="true" type="q11:ArrayOfTransactionSecurityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceImageAsJpeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="requestData" nillable="true" type="q12:RequestData" />
        <xs:element minOccurs="0" name="t24id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceImageAsJpegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceImageAsJpegResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAuthenticationLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q13:RequestData" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAuthenticationLevelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthenticationLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q14:RequestData" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="AuthenticationLevelData" nillable="true" type="q15:AuthenticationLevelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthenticationLevelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthenticationLevelUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q16:RequestData" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthenticationLevelUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAuthenticationLevelUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q17:RequestData" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAuthenticationLevelUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q18:RequestData" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" minOccurs="0" name="Query" nillable="true" type="q19:MySqlQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetAuthenticationTypesResult" nillable="true" type="q20:ArrayOfAuthenticationTypeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q21:RequestData" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" minOccurs="0" name="Query" nillable="true" type="q22:MySqlQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetAuthenticationUnitsResult" nillable="true" type="q23:ArrayOfAuthenticationUnitData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnrollments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q24:RequestData" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" minOccurs="0" name="Query" nillable="true" type="q25:MySqlQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnrollmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetEnrollmentsResult" nillable="true" type="q26:ArrayOfEnrollmentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnrolledAuthenticationTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q27:RequestData" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnrolledAuthenticationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEnrolledAuthenticationTypesResult" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q30:RequestData" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EnrollmentId" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetAuthenticationTemplatesResult" nillable="true" type="q32:ArrayOfAuthenticationTemplateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCorrectAuthenticationTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q33:RequestData" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q34:guid" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="Template" nillable="true" type="q35:AuthenticationTemplateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCorrectAuthenticationTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCorrectAuthenticationTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEnrollment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q36:RequestData" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="EnrollmentData" nillable="true" type="q37:EnrollmentData" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="Templates" nillable="true" type="q38:ArrayOfAuthenticationTemplateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEnrollmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddEnrollmentResult" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIdentityFromTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="AuthenticationUnitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIdentityFromTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="FindIdentityFromTemplateResult" nillable="true" type="q40:IdentityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEnrollmentDuplicates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EnrollmentId" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEnrollmentDuplicatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckEnrollmentDuplicatesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollmentDuplicateSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EnrollmentId" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollmentDuplicateSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnrollmentDuplicateSearchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnsi378Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q43:guid" />
        <xs:element minOccurs="0" name="AuthenticationUnitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnsi378TemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnsi378TemplateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q44:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q45:ArrayOfTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q46:RequestData" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="TransactionData" nillable="true" type="q47:TransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityGroupTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q48:RequestData" />
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityGroupTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentityGroupTransactionsResult" nillable="true" type="q49:ArrayOfTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q50:RequestData" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentityTransactionsResult" nillable="true" type="q52:ArrayOfTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q53:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetReportsResult" nillable="true" type="q54:ArrayOfReportData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q55:RequestData" />
        <xs:element minOccurs="0" name="storedProc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataWithRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q56:RequestData" />
        <xs:element minOccurs="0" name="storedProc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataWithRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportDataWithRangeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetSettingsResult" nillable="true" type="q57:SettingsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q58:RequestData" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="SettingsData" nillable="true" type="q59:SettingsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q60:RequestData" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/IdentityStream.Logging" minOccurs="0" name="Type" type="q61:Audit.EventTypes" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDebugMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q62:RequestData" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDebugMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInfoMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q63:RequestData" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInfoMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogWarningMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q64:RequestData" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogWarningMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q65:RequestData" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorMessageWithException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q66:RequestData" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ex" nillable="true" type="q67:Exception" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorMessageWithExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckApplicationAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q68:RequestData" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q69:guid" />
        <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckApplicationAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckApplicationAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q70:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetCountriesResult" nillable="true" type="q71:ArrayOfCountryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q72:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetRolesResult" nillable="true" type="q73:ArrayOfRoleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q74:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetApplicationsResult" nillable="true" type="q75:ArrayOfApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q76:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetApplicationTypesResult" nillable="true" type="q77:ArrayOfApplicationTypeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q78:RequestData" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" minOccurs="0" name="QueryData" nillable="true" type="q79:MySqlQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentitiesResult" nillable="true" type="q80:ArrayOfIdentityData" />
        <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIdentities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIdentitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetAllIdentitiesResult" nillable="true" type="q81:ArrayOfIdentityData" />
        <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q82:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdentityCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q83:RequestData" />
        <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentityByNameResult" nillable="true" type="q84:IdentityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityByT24Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q85:RequestData" />
        <xs:element minOccurs="0" name="T24Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityByT24IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentityByT24IdResult" nillable="true" type="q86:IdentityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityByUid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q87:RequestData" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q88:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityByUidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentityByUidResult" nillable="true" type="q89:IdentityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q90:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentityTypesResult" nillable="true" type="q91:ArrayOfIdentityTypeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q92:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q93:ArrayOfIdentityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q94:RequestData" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="IdentityData" nillable="true" type="q95:IdentityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddIdentityResult" type="q96:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q97:RequestData" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="IdentityData" nillable="true" type="q98:IdentityData" />
        <xs:element minOccurs="0" name="transCodes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q99:RequestData" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdentityId" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIdentityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q101:RequestData" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" minOccurs="0" name="QueryData" nillable="true" type="q102:MySqlQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetLoginsResult" nillable="true" type="q103:ArrayOfLoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q104:RequestData" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="LoginData" nillable="true" type="q105:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q106:RequestData" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="LoginData" nillable="true" type="q107:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q108:RequestData" />
        <xs:element minOccurs="0" name="LoginId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLoginPasswords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLoginPasswordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="LoadLoginPasswordsResult" nillable="true" type="q109:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordPasswordResetAttempt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="requestData" nillable="true" type="q110:RequestData" />
        <xs:element minOccurs="0" name="loginId" type="xs:int" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordPasswordResetAttemptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordPasswordResetAttemptResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordPasswordResetAttemptResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="requestData" nillable="true" type="q111:RequestData" />
        <xs:element minOccurs="0" name="attemptId" type="xs:int" />
        <xs:element minOccurs="0" name="succeeded" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordPasswordResetAttemptResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q112:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentityGroupsResult" nillable="true" type="q113:ArrayOfIdentityGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityGroupById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q114:RequestData" />
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityGroupByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetIdentityGroupByIdResult" nillable="true" type="q115:IdentityGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIdentityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q116:RequestData" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="IdentityGroupData" nillable="true" type="q117:IdentityGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIdentityGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddIdentityGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q118:RequestData" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="IdentityGroupData" nillable="true" type="q119:IdentityGroupData" />
        <xs:element minOccurs="0" name="transCodes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentityGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIdentityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q120:RequestData" />
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIdentityGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupForIdentities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q121:RequestData" />
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
        <xs:element minOccurs="0" name="IdentityIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupForIdentitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupIdentityLogins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q122:RequestData" />
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
        <xs:element minOccurs="0" name="ResetLogins" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupIdentityLoginsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q123:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetAuthenticationLevelsResult" nillable="true" type="q124:ArrayOfAuthenticationLevelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationLevelUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q125:RequestData" />
        <xs:element minOccurs="0" name="LevelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationLevelUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="GetAuthenticationLevelUnitsResult" nillable="true" type="q126:ArrayOfAuthenticationUnitData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthenticationLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="RequestData" nillable="true" type="q127:RequestData" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="AuthenticationLevelData" nillable="true" type="q128:AuthenticationLevelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthenticationLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAuthenticationLevelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>