samples/Workflow/Core.Test/Service References/Test/BPM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8181/BPM?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CdcSoftware.Workflow.Core" />
  <xs:element name="StartWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarkupFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RulesFileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CdcSoftware.Workflow.Core" minOccurs="0" name="Parameters" nillable="true" type="q1:WorkflowParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartWorkflowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>