samples/ExceptionHandlingWCFProxySample/TodoList/TodoList/WpfClient/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="urn://mobilewcf/samples/2009/04" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn://mobilewcf/samples/2009/04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn://mobilewcf/samples/2009/04/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="urn://mobilewcf/samples/2009/04" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodoListService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_CreateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateItem" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_CreateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_UpdateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItem" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_UpdateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_DeleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_DeleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodoListService">
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="urn://mobilewcf/samples/2009/04/ITodoListService/GetItems" message="tns:ITodoListService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="urn://mobilewcf/samples/2009/04/ITodoListService/GetItemsResponse" message="tns:ITodoListService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <wsdl:input wsaw:Action="urn://mobilewcf/samples/2009/04/ITodoListService/CreateItem" message="tns:ITodoListService_CreateItem_InputMessage" />
      <wsdl:output wsaw:Action="urn://mobilewcf/samples/2009/04/ITodoListService/CreateItemResponse" message="tns:ITodoListService_CreateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input wsaw:Action="urn://mobilewcf/samples/2009/04/ITodoListService/UpdateItem" message="tns:ITodoListService_UpdateItem_InputMessage" />
      <wsdl:output wsaw:Action="urn://mobilewcf/samples/2009/04/ITodoListService/UpdateItemResponse" message="tns:ITodoListService_UpdateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input wsaw:Action="urn://mobilewcf/samples/2009/04/ITodoListService/DeleteItem" message="tns:ITodoListService_DeleteItem_InputMessage" />
      <wsdl:output wsaw:Action="urn://mobilewcf/samples/2009/04/ITodoListService/DeleteItemResponse" message="tns:ITodoListService_DeleteItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>