samples/ExceptionHandlingWCFProxySample/TodoList/TodoList/WpfClient/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoItem" nillable="true" type="tns:TodoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoItem" nillable="true" type="tns:ArrayOfTodoItem" />
  <xs:complexType name="TodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompletionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentComplete" type="xs:double" />
      <xs:element minOccurs="0" name="Priority" type="tns:PriorityFlag" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusFlag" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoItem" nillable="true" type="tns:TodoItem" />
  <xs:simpleType name="PriorityFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="High" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PriorityFlag" nillable="true" type="tns:PriorityFlag" />
  <xs:simpleType name="StatusFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotStarted" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="WaitingOnSomeoneElse" />
      <xs:enumeration value="Deferred" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusFlag" nillable="true" type="tns:StatusFlag" />
</xs:schema>