test/SyncRepository/SyncRepositoryProviders/Service References/SyncReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SyncRepositoryDomainModel" />
  <xs:element name="GetIdentities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SyncRepositoryDomainModel" minOccurs="0" name="Request" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SyncRepositoryDomainModel" minOccurs="0" name="GetIdentitiesResult" nillable="true" type="q2:ArrayOfIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SyncRepositoryDomainModel" minOccurs="0" name="Identity" nillable="true" type="q3:Identity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SyncRepositoryDomainModel" minOccurs="0" name="Identity" nillable="true" type="q4:Identity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIdentityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>