Ansi378Test/Service References/BiometricService/biometricServices5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scottslaptop.hyperion.local/ServicesHost/biometricServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdentityId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestData" nillable="true" type="tns:RequestData" />
  <xs:complexType name="ArrayOfTransactionSecurityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionSecurityData" nillable="true" type="tns:TransactionSecurityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionSecurityData" nillable="true" type="tns:ArrayOfTransactionSecurityData" />
  <xs:complexType name="TransactionSecurityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticatonLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefiningLevelOfTransaction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionSecurityData" nillable="true" type="tns:TransactionSecurityData" />
  <xs:complexType name="AuthenticationLevelData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationLevelData" nillable="true" type="tns:AuthenticationLevelData" />
  <xs:complexType name="ArrayOfAuthenticationTypeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthenticationTypeData" nillable="true" type="tns:AuthenticationTypeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthenticationTypeData" nillable="true" type="tns:ArrayOfAuthenticationTypeData" />
  <xs:complexType name="AuthenticationTypeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationTypeData" nillable="true" type="tns:AuthenticationTypeData" />
  <xs:complexType name="ArrayOfAuthenticationUnitData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthenticationUnitData" nillable="true" type="tns:AuthenticationUnitData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthenticationUnitData" nillable="true" type="tns:ArrayOfAuthenticationUnitData" />
  <xs:complexType name="AuthenticationUnitData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationUnitData" nillable="true" type="tns:AuthenticationUnitData" />
  <xs:complexType name="ArrayOfEnrollmentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnrollmentData" nillable="true" type="tns:EnrollmentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnrollmentData" nillable="true" type="tns:ArrayOfEnrollmentData" />
  <xs:complexType name="EnrollmentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="AdministratorId" type="ser:guid" />
      <xs:element minOccurs="0" name="AuthenticationTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnrollmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdentityId" type="ser:guid" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnrollmentData" nillable="true" type="tns:EnrollmentData" />
  <xs:complexType name="ArrayOfAuthenticationTemplateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthenticationTemplateData" nillable="true" type="tns:AuthenticationTemplateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthenticationTemplateData" nillable="true" type="tns:ArrayOfAuthenticationTemplateData" />
  <xs:complexType name="AuthenticationTemplateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationUnitCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnrollmentId" type="ser:guid" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationTemplateData" nillable="true" type="tns:AuthenticationTemplateData" />
  <xs:complexType name="IdentityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="IdentityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentityData" nillable="true" type="tns:IdentityData" />
  <xs:complexType name="ArrayOfTransactionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionData" nillable="true" type="tns:TransactionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionData" nillable="true" type="tns:ArrayOfTransactionData" />
  <xs:complexType name="TransactionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthenticationLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionTypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionData" nillable="true" type="tns:TransactionData" />
  <xs:complexType name="ArrayOfReportData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportData" nillable="true" type="tns:ReportData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportData" nillable="true" type="tns:ArrayOfReportData" />
  <xs:complexType name="ReportData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportData" nillable="true" type="tns:ReportData" />
  <xs:complexType name="SettingsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FingersNfmMaximalRotation" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingThreshold" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsData" nillable="true" type="tns:SettingsData" />
  <xs:complexType name="ArrayOfCountryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryData" nillable="true" type="tns:CountryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryData" nillable="true" type="tns:ArrayOfCountryData" />
  <xs:complexType name="CountryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryData" nillable="true" type="tns:CountryData" />
  <xs:complexType name="ArrayOfRoleData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleData" nillable="true" type="tns:RoleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleData" nillable="true" type="tns:ArrayOfRoleData" />
  <xs:complexType name="RoleData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleData" nillable="true" type="tns:RoleData" />
  <xs:complexType name="ArrayOfApplicationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationData" nillable="true" type="tns:ApplicationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationData" nillable="true" type="tns:ArrayOfApplicationData" />
  <xs:complexType name="ApplicationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SystemLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationData" nillable="true" type="tns:ApplicationData" />
  <xs:complexType name="ArrayOfApplicationTypeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationTypeData" nillable="true" type="tns:ApplicationTypeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationTypeData" nillable="true" type="tns:ArrayOfApplicationTypeData" />
  <xs:complexType name="ApplicationTypeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutomationFilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutomationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationTypeData" nillable="true" type="tns:ApplicationTypeData" />
  <xs:complexType name="ArrayOfIdentityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentityData" nillable="true" type="tns:IdentityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentityData" nillable="true" type="tns:ArrayOfIdentityData" />
  <xs:complexType name="ArrayOfIdentityTypeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentityTypeData" nillable="true" type="tns:IdentityTypeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentityTypeData" nillable="true" type="tns:ArrayOfIdentityTypeData" />
  <xs:complexType name="IdentityTypeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentityTypeData" nillable="true" type="tns:IdentityTypeData" />
  <xs:complexType name="ArrayOfLoginData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoginData" nillable="true" type="tns:LoginData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoginData" nillable="true" type="tns:ArrayOfLoginData" />
  <xs:complexType name="LoginData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstTime" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdentityId" type="ser:guid" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResetPassword" type="xs:int" />
      <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T24Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginData" nillable="true" type="tns:LoginData" />
  <xs:complexType name="ArrayOfIdentityGroupData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentityGroupData" nillable="true" type="tns:IdentityGroupData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentityGroupData" nillable="true" type="tns:ArrayOfIdentityGroupData" />
  <xs:complexType name="IdentityGroupData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResetPassword" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentityGroupData" nillable="true" type="tns:IdentityGroupData" />
  <xs:complexType name="ArrayOfAuthenticationLevelData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthenticationLevelData" nillable="true" type="tns:AuthenticationLevelData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthenticationLevelData" nillable="true" type="tns:ArrayOfAuthenticationLevelData" />
</xs:schema>