Ansi378Test/Service References/BiometricService/biometricServices8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IdentityStream.Services.BiometricServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IdentityStream.Services.BiometricServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" type="tns:ServiceException" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDetails" nillable="true" type="tns:ErrorDetails" />
  <xs:simpleType name="ServiceException">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DatabaseOffline" />
      <xs:enumeration value="DatabaseProcessingError" />
      <xs:enumeration value="Application" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceException" nillable="true" type="tns:ServiceException" />
</xs:schema>