Ansi378Test/Service References/BiometricService/biometricServices7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scottslaptop.hyperion.local/ServicesHost/biometricServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfExpressionDataQueryOperandUn8AYFgJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfExpressionDataQueryOperandUn8AYFgJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" name="Key" nillable="true" type="q1:ExpressionData" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IdentityStream.Server.DataAccess.Repositories.MySql" name="Value" type="q2:QueryOperand" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfExpressionDataQueryOperandUn8AYFgJ" nillable="true" type="tns:ArrayOfKeyValueOfExpressionDataQueryOperandUn8AYFgJ" />
</xs:schema>