samples/WCF/ServiceModelEx/Web References/localhost/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIdentityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentityData" nillable="true" type="tns:IdentityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentityData" nillable="true" type="tns:ArrayOfIdentityData" />
  <xs:complexType name="IdentityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdentityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentityData" nillable="true" type="tns:IdentityData" />
  <xs:complexType name="ArrayOfEnrollmentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnrollmentData" nillable="true" type="tns:EnrollmentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnrollmentData" nillable="true" type="tns:ArrayOfEnrollmentData" />
  <xs:complexType name="EnrollmentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="AdministratorId" type="xs:int" />
      <xs:element minOccurs="0" name="AuthenticationTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnrollmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdentityId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnrollmentData" nillable="true" type="tns:EnrollmentData" />
  <xs:complexType name="ArrayOfAuthenticationTemplateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthenticationTemplateData" nillable="true" type="tns:AuthenticationTemplateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthenticationTemplateData" nillable="true" type="tns:ArrayOfAuthenticationTemplateData" />
  <xs:complexType name="AuthenticationTemplateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationUnitCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnrollmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationTemplateData" nillable="true" type="tns:AuthenticationTemplateData" />
</xs:schema>