samples/WCF/ServiceModelEx/Web References/localhost/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5800/PersistentIdsDatabase/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" />
  <xs:element name="IdentitiesAddedUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="Identities" nillable="true" type="q1:ArrayOfIdentityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollmentsAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="Enrollments" nillable="true" type="q2:ArrayOfEnrollmentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TemplatesAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IdentityStream.Server.Data" minOccurs="0" name="Templates" nillable="true" type="q3:ArrayOfAuthenticationTemplateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>