samples/WcfTicketingService/Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.learn2develop.net/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.learn2develop.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.learn2develop.net/Imports">
      <xsd:import namespace="http://www.learn2develop.net/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TicketingService_SetSeatStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSeatStatus" />
  </wsdl:message>
  <wsdl:message name="TicketingService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="TicketingService_UnRegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterClient" />
  </wsdl:message>
  <wsdl:message name="TicketingService_SeatStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SeatStatus" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="TicketingService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetSeatStatus">
      <wsdl:input wsaw:Action="http://www.learn2develop.net/TicketingService/SetSeatStatus" message="tns:TicketingService_SetSeatStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterClient">
      <wsdl:input wsaw:Action="http://www.learn2develop.net/TicketingService/RegisterClient" message="tns:TicketingService_RegisterClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnRegisterClient">
      <wsdl:input wsaw:Action="http://www.learn2develop.net/TicketingService/UnRegisterClient" message="tns:TicketingService_UnRegisterClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SeatStatus">
      <wsdl:output wsaw:Action="http://www.learn2develop.net/TicketingService/SeatStatus" message="tns:TicketingService_SeatStatus_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>